{% extends "Default.html.twig" %}

{% block title %}Automatic{% endblock %}

{% block content %}

	<h1>Automatic <a href="{{ path_for('automatic/create') }}" class="btn btn-primary" data-command="new">Create <kbd>CTRL + N</kbd></a></h1>

	<div class="container">
		<div class="row">
			{% for automatic in automatics %}
				<div class="col-sm pb-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ automatic.implementation }}</h5>
							<h4>{{ automatic.page }}</h4>
							<h4>{{ automatic.nextRun }}</h4>
							<h4>{{ automatic.expression }}</h4>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}