{% extends "Default.html.twig" %}

{% block title %}Pages{% endblock %}

{% block content %}

	<h1>Seiten <a href="{{ path_for('page/create') }}" class="btn btn-primary" data-command="new">Create <kbd>CTRL + N</kbd></a></h1>

	<div class="container">
		<div class="row">
			{% for page in pages %}
				<div class="col-sm pb-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ page.uri }}</h5>
							<p class="card-text">API Key: {{ page.apiKey }}</p>

							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModel{{ page.id }}">{{ icon('trash') }}</button>

							<!-- Modal -->
							<div class="modal fade" id="deleteModel{{ page.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModel{{ page.id }}Title" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalCenterTitle">Delete {{ page.uri }}?</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											Do you really want to delete the page?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<a href="{{ path_for('page/delete', {'id': page.id}) }}" class="btn btn-danger">Yes</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}